doctype
html
	head
		link(rel="stylesheet" href="css/main.css")
		script(src="js/main.bundle.js")
	body
		section
			h1 section1
		section
			h1.js-animejs(data-option='{"translateX": 100}' data-top="100") section2
		section
			h1.js-animejs(data-option='{"rotateY": 180}' data-bottom="200") section3
		section
			h1 section4
		section
			h1 section5